old-discussions/proteomics-propietary-examples/proteomeXchange/proteomeXchange-1.4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ProteomeXchangeDataset" type="ProteomeXchangeDatasetType"/>
  <xs:complexType name="ProteomeXchangeDatasetType">
    <xs:annotation>
      <xs:documentation>Top-level element for a ProteomeXchange XML document describing a dataset.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CvList" type="CvListType"/>
      <xs:element name="ChangeLog" type="ChangeLogType" minOccurs="0"/>
      <xs:element name="DatasetSummary" type="DatasetSummaryType"/>
      <xs:element name="DatasetIdentifierList" type="DatasetIdentifierListType"/>
      <xs:element name="DatasetOriginList" type="DatasetOriginListType"/>
      <xs:element name="SpeciesList" type="SpeciesListType"/>
      <xs:element name="InstrumentList" type="InstrumentListType"/>
      <xs:element name="ModificationList" type="ModificationListType"/>
      <xs:element name="ContactList" type="ContactListType"/>
      <xs:element name="PublicationList" type="PublicationListType"/>
      <xs:element name="KeywordList" type="KeywordListType"/>
      <xs:element name="FullDatasetLinkList" type="FullDatasetLinkListType"/>
      <xs:element name="DatasetFileList" type="DatasetFileListType" minOccurs="0"/>
      <xs:element name="RepositoryRecordList" type="RepositoryRecordListType" minOccurs="0"/>
      <xs:element name="AdditionalInformation" type="AdditionalInformationType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>Unique identifier for this ProteomeXchange XML document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="formatVersion" type="versionRegex" use="required">
      <xs:annotation>
        <xs:documentation>Version number of this ProteomeXchange XML format.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="AdditionalInformationType">
    <xs:annotation>
      <xs:documentation>A place for all additional information that may be added to the 
        broadcast message and that could not be fit into another location. Here should 
        also go references to other ProteomeXchange submissions.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cvParam" type="CvParamType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="userParam" type="UserParamType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeLogType">
    <xs:annotation>
      <xs:documentation>The change log message to record what changes and updates were made to this dataset for a revised announcement.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ChangeLogEntry" type="ChangeLogEntryType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeLogEntryType">
    <xs:annotation>
      <xs:documentation>A single change log entry giving providing the date on the change, a new version number of the dataset and a description of the change/update.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="version" type="xs:string">
          <xs:annotation>
            <xs:documentation>The version number of this document. The first change would be version 2 here. This is largely handled by the central ProteomeXchange service anyway, and is largly ignored.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="date" type="xs:date">
          <xs:annotation>
            <xs:documentation>The date of this entry. This is largely handled by the central ProteomeXchange service anyway, and is largly ignored.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ContactListType">
    <xs:annotation>
      <xs:documentation>The list of contacts related to the ProteomeXchange dataset.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Contact" type="ContactType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactType">
    <xs:annotation>
      <xs:documentation>Contact person related to the ProteomeXchange dataset.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cvParam" type="CvParamType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation>Identifier for the contact to be used for referencing within a document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>  
  <xs:complexType name="DatasetFileListType">
    <xs:annotation>
      <xs:documentation>The list of ALL files comprising this ProteomeXchange submission.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DatasetFile" type="DatasetFileType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatasetFileType">
    <xs:annotation>
      <xs:documentation>Description of the source file, including location and type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cvParam" type="CvParamType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation>Identifier for the sourceFile to be used for referencing within a document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Name of the source file, without reference to location (either URI or local path).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DatasetIdentifierListType">
    <xs:annotation>
      <xs:documentation>The list of identifiers associated with this dataset, not just the PXD identifier, but possibly DOIs and other identifiers.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DatasetIdentifier" type="DatasetIdentifierType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatasetIdentifierType">
    <xs:annotation>
      <xs:documentation>An identifier associated with this dataset, defined by CV term.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cvParam" type="CvParamType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatasetOriginListType">
    <xs:annotation>
      <xs:documentation>The list of the origins of this dataset. This list can link to other ProteomeXchange datasets or other resources. 
        If this dataset contains previously unreported data, then a 'new dataset' annotation should be used.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DatasetOrigin" type="DatasetOriginType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatasetOriginType">
    <xs:annotation>
      <xs:documentation>Specifies via CV term whether this is an original dataset or is a re-interpretation of a previous ProteomeXchange dataset.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cvParam" type="CvParamType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatasetSummaryType">
    <xs:annotation>
      <xs:documentation>Broad description of the dataset being announced, inlcuding a title, abstract, review level, etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Description" type="xs:string">
        <xs:annotation>
          <xs:documentation>A brief description of the dataset, usually about one paragraph long.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReviewLevel" type="ReviewLevelType">
        <xs:annotation>
          <xs:documentation>Level of review on this dataset/associated paper.</xs:documentation>
          <!-- ToDo: cvparams needed -->
        </xs:annotation>
      </xs:element>
      <xs:element name="RepositorySupport" type="RepositorySupportType">
        <xs:annotation>
          <xs:documentation>To what extend the data is supported in the hosting repository.</xs:documentation>
          <!-- ToDo: cvparams needed -->
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="announceDate" type="xs:date" use="required">
      <xs:annotation>
        <xs:documentation>The date that this announcement was prepared.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hostingRepository" type="HostingRepositoryType" use="required">
      <xs:annotation>
        <xs:documentation>The hosting repository that handled this dataset and that prepared this ProteomeXchange message.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="title" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>A descriptive title for the dataset.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ReviewLevelType">
    <xs:sequence>
      <xs:element name="cvParam" type="CvParamType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepositorySupportType">
    <xs:sequence>
      <xs:element name="cvParam" type="CvParamType"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="FullDatasetLinkListType">
    <xs:annotation>
      <xs:documentation>The list of links to the complete ProteomeXchange dataset.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FullDatasetLink" type="FullDatasetLinkType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FullDatasetLinkType">
    <xs:annotation>
      <xs:documentation>A single link to the full dataset.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cvParam" type="CvParamType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InstrumentListType">
    <xs:annotation>
      <xs:documentation>The list of instruments on which the data generation was performed.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Instrument" type="InstrumentType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>  
  <xs:complexType name="InstrumentType">
    <xs:annotation>
      <xs:documentation>Instrument on which the data has been generated.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cvParam" type="CvParamType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation>Identifier for the instrument to be used for referencing within a document</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType> 
  <xs:complexType name="KeywordListType">
    <xs:annotation>
      <xs:documentation>Keywords defined by controlled vocabulary or free text categorised by a controlled vocabolary term 
        (e.g. 'journal article keyword', 'submitter keyword' or 'curator keyword').</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cvParam" type="CvParamType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificationListType">
    <xs:annotation>
      <xs:documentation>The list of amino acid mass modifications caused or considered, defined as cvParams.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cvParam" type="CvParamType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PublicationListType">
    <xs:annotation>
      <xs:documentation>The list of publications from which the dataset was collected or wherein it is published</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Publication" type="PublicationType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>  
  <xs:complexType name="PublicationType">
    <xs:annotation>
      <xs:documentation>Reference to a publication in which the dataset is published.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cvParam" type="CvParamType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation>Identifier for the publication to be used for referencing within a document</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>  
  <xs:complexType name="RepositoryRecordListType">
    <xs:annotation>
      <xs:documentation>The list of records as found in the repository the data was submitted to (for example PRIDE experiment records).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RepositoryRecord" type="RepositoryRecordType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepositoryRecordType">
    <xs:annotation>
      <xs:documentation>A record in the repository the data was submitted to corresponding to this dataset (for an example PRIDE experiment record).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SourceFileRef" type="RefType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>to reference the 'id' of a 'DatasetFile' within this submission</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PublicationRef" type="RefType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>to reference the 'id' of a 'Publication' within this submission</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InstrumentRef" type="RefType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Container for a reference to the id of an Instrument within this submission</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SampleList" type="SampleListType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ModificationList" type="ModificationListType" minOccurs="0"/>
      <xs:element name="AnnotationList" type="AdditionalInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Any additional annotation of the record/experiment that the 
            submitter/generator of the message deems important enough to announce.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Short name for the repository record, usually like a sample name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="label" type="xs:string">
      <xs:annotation>
        <xs:documentation>Short label for the type of repository record.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="recordID" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>A unique identifier for the record within the repository.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="repositoryID" type="HostingRepositoryType" use="required">
      <xs:annotation>
        <xs:documentation>Identifier that uniquely defines the hosting repository which holds the data records.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI" use="required">
      <xs:annotation>
        <xs:documentation>URI that links to the repository record.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SampleListType">
    <xs:annotation>
      <xs:documentation>The list of samples that are analyzed in this dataset.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Sample" type="SampleType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SampleType">
    <xs:annotation>
      <xs:documentation>A summary of the sample describtion. This should be a (sub) selection 
        of cvParams used to describe the sample. Minimally this should contain information like 
        species, tissue, etc..., but could also contain sample preparation information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cvParam" type="CvParamType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Short name for the sample analyzed in this dataset.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SpeciesListType">
    <xs:annotation>
      <xs:documentation>The list of species from which the data has been generated.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Species" type="SpeciesType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpeciesType">
    <xs:annotation>
      <xs:documentation>The species from which the data has been generated.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cvParam" type="CvParamType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="CvListType">
    <xs:annotation>
      <xs:documentation>The list of controlled vocabularies used in the file.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Cv" type="CvType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CvType">
    <xs:annotation>
      <xs:documentation>A source controlled vocabulary (CV) from which cvParams will be obtained.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="fullName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The full name of the CV.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="version" type="xs:string">
      <xs:annotation>
        <xs:documentation>The version of the CV.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI" use="required">
      <xs:annotation>
        <xs:documentation>The URI of the source CV.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation>The unique identifier of this CV within the document to be referenced by cvParam elements. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AbstractParamType" abstract="true">
    <xs:annotation>
      <xs:documentation>Abstract entity allowing either cvParam or userParam to be referenced in other schemas.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The name of the parameter.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string">
      <xs:annotation>
        <xs:documentation>The user-entered value of the parameter.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="unitAccession" type="xs:string">
      <xs:annotation>
        <xs:documentation>An accession number identifying the unit within the OBO foundry Unit CV.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="unitName" type="xs:string">
      <xs:annotation>
        <xs:documentation>The name of the unit.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="unitCvRef" type="xs:string">
      <xs:annotation>
        <xs:documentation>If a unit term is referenced, this attribute must refer to the CV 'id' attribute
          defined in the cvList in this file.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="UserParamType">
    <xs:annotation>
      <xs:documentation>A single user-defined parameter.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="AbstractParamType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CvParamType">
    <xs:annotation>
      <xs:documentation>A single entry from an ontology or a controlled vocabulary.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="AbstractParamType">
        <xs:attribute name="cvRef" type="xs:IDREF" use="required">
          <xs:annotation>
            <xs:documentation>A reference to the cv element from which this term originates.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accession" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>The accession or ID number of this CV term in the source CV.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RefType">
    <xs:attribute name="ref" type="xs:IDREF" use="required">
      <xs:annotation>
        <xs:documentation>A reference to an element with and id in this document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:simpleType name="HostingRepositoryType">
    <xs:annotation>
      <xs:documentation>The allowed values for the ProteomeXchange hosting repository.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRIDE"/>
      <xs:enumeration value="PeptideAtlas"/>
      <xs:enumeration value="PASSEL"/>
      <xs:enumeration value="TestRepo"/>
      <xs:enumeration value="MassIVE"/>
      <xs:enumeration value="iProX"/>
      <xs:enumeration value="jPOST"/>
      <xs:enumeration value="Firmiana"/>
      <xs:enumeration value="PanoramaPublic"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="versionRegex">
    <xs:restriction base="xs:string">
      <xs:pattern value="(1\.4\.?\d?)"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
